<!---------------------------------- MENU ACCE RAPIDE-------------------------------------->
<nav class="navbar navbar-default navbar-static-top fixed-top" role="navigation" >
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">
                  Espace - ESTO
                </a>
            </div>
            <ul class="nav justify-content-center nav-pills nav-fill">
              <li class="nav-item">
                <a class="nav-link" routerLink="">Active</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="">Link</a>
              </li>
              </ul>
              <div class="nav">
                <div class="nav dropdown justify-content-center mx-1 ">
                  <button class="btn btn-light dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-envelope fa-4" aria-hidden="true"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right notify" aria-labelledby="dropdownMenuButton">
                    <p >Something else hereSomething else hereSomething else here</p>
                    <p >Something else hereSomething else hereSomething else here</p>
                    <p >Something else hereSomething else hereSomething else here</p>
                  </div>
                </div>
                <div class="nav dropdown justify-content-center mx-1 ">
                  <button class="btn btn-light dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-list-ul fa-4" aria-hidden="true"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right notify" aria-labelledby="dropdownMenuButton">
                    <p >Something else hereSomething else hereSomething else here</p>
                    <p >Something else hereSomething else hereSomething else here</p>
                    <p >Something else hereSomething else hereSomething else here</p>
                  </div>
                </div>
                <div class="nav dropdown justify-content-center mx-1 ">
                  <button class="btn btn-light dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-bell fa-4" aria-hidden="true"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right notify" aria-labelledby="dropdownMenuButton">

                    <p >Something else hereSomething else hereSomething else here</p>
                    <p >Something else hereSomething else hereSomething else here</p>
                    <p >Something else hereSomething else hereSomething else here</p>
                  </div>
                </div>
                <div class="nav dropdown justify-content-center mx-1">
                  <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user fa-5" aria-hidden="true"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" routerLink="">
                      <i class="fa fa-user fa-5" aria-hidden="true" ></i>Profile
                    </a>
                    <a class="dropdown-item" routerLink="">
                      <i class="fa fa-gear fa-5" aria-hidden="true"></i>Paramétre
                    </a>
                    <div class="dropdown-divider border-top"></div>
                    <a class="dropdown-item" routerLink="">
                      <i class="fa fa-sign-out fa-5" aria-hidden="true"></i>Logout
                    </a>
                  </div>
                </div>
              </div>
</nav>
<!---------------------------------- MENU ACCE RAPIDE-------------------------------------->
<!---------------------------------- MENU FONCTIONNALITE----------------------------------->
<div class="nav-side-menu">
        <div class="menu-list">
          <img src="../../assets/img/logo.png" class="logo img-fluid mx-auto d-block mb-3" alt="">
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a routerLink="">
                  <i class="fa fa-dashboard fa-lg"></i> Dashboard
                  </a>
                </li>

                <li  data-toggle="collapse" data-target="#products" class="collapsed ">
                  <a><i class="fa fa-gift fa-lg"></i> UI Elements <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="products">
                    <li><a routerLink="">CSS3 Animation</a></li>
                    <li><a routerLink="">General</a></li>
                    <li><a routerLink="">Buttons</a></li>
                </ul>


                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a><i class="fa fa-globe fa-lg"></i> Services <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="service">
                  <li>New Service 1</li>
                  <li>New Service 2</li>
                  <li>New Service 3</li>
                </ul>


                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="new">
                  <li>New New 1</li>
                  <li>New New 2</li>
                  <li>New New 3</li>
                </ul>



            </ul>
     </div>
</div>
<!---------------------------------- MENU FONCTIONNALITE----------------------------------->
