.navbar{
  margin-bottom: 0;
  background-color:white;
  padding: 15px 95px;
  border-bottom: solid 1px lightgray;
  -webkit-box-shadow: 0px 3px 51px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 51px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 51px 0px rgba(0,0,0,0.75);
}
.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: white;
  position: fixed;
  top: 0px;
  width: 260px;
  height: 100%;
  color: #007bff;
  padding-top: 110px;
  border-right: solid 1px lightgray;
}
.nav-side-menu .logo{
  width: 60%;
  height:auto;
}
.dropdown-menu{
  word-wrap:break-word;
  -webkit-box-shadow: -1px 10px 51px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 10px 51px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 10px 51px 0px rgba(0,0,0,0.75);
}
.notify{
  width: 280px;
  padding: 20px;
}
.page-body{
  max-width: 100%;
  max-height: 100vh;
  background-color: white;
  position: inherit;
  margin: 0 0 0 260px;
  padding: 90px  15px 30px 0;
  overflow: hidden;
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  font-family: 'Gugi', cursive;
  font-size: 15px;
}
.fa{
  margin-left: 4px;
  margin-right: 6px;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 4px;
  padding-right: 12px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #007bff;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: white;
  border: none;
  line-height: 28px;
  margin-left: 0px;
  padding-left: 35px;
  border-left: 3px solid white;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: lightgray;
  border-left: 3px solid #007bff;
}
.nav-side-menu .title {
  background-color: #007bff;
  color: lightgray;
  text-align: center;
  font-size: 18px;
  font-family: 'Gugi', cursive;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid white;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #007bff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #007bff;
  background-color: lightgray;
  color: #007bff;
  -webkit-transition: background-color .3s ease;
  -moz-transition: background-color .3s ease;
  -o-transition: background-color .3s ease;
  -ms-transition: background-color .3s ease;
  transition: background-color .3s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
body {
  margin: 0px;
  padding: 0px;
}
