<!---------------------------------- MENU ACCE RAPIDE-------------------------------------->
<nav class="navbar navbar-default navbar-static-top fixed-top" role="navigation" >
            <div class="navbar-header">
                <a class="navbar-brand" routerLink="index.html">
                  Espace - ESTO
                </a>
            </div>
            <ul class="nav justify-content-center nav-pills nav-fill">
              <li class="nav-item">
                <a class="nav-link" routerLink="">Active</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="">Link</a>
              </li>
              </ul>
              <div class="nav">
                <div class="nav dropdown justify-content-center mx-1 ">
                  <button class="btn btn-light dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-envelope fa-4" aria-hidden="true"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right notify" aria-labelledby="dropdownMenuButton">
                    <p >Something else hereSomething else hereSomething else here</p>
                    <p >Something else hereSomething else hereSomething else here</p>
                    <p >Something else hereSomething else hereSomething else here</p>
                  </div>
                </div>
                <div class="nav dropdown justify-content-center mx-1 ">
                  <button class="btn btn-light dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-list-ul fa-4" aria-hidden="true"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right notify" aria-labelledby="dropdownMenuButton">
                    <p >Something else hereSomething else hereSomething else here</p>
                    <p >Something else hereSomething else hereSomething else here</p>
                    <p >Something else hereSomething else hereSomething else here</p>
                  </div>
                </div>
                <div class="nav dropdown justify-content-center mx-1 ">
                  <button class="btn btn-light dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-bell fa-4" aria-hidden="true"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right notify" aria-labelledby="dropdownMenuButton">

                    <p >Something else hereSomething else hereSomething else here</p>
                    <p >Something else hereSomething else hereSomething else here</p>
                    <p >Something else hereSomething else hereSomething else here</p>
                  </div>
                </div>
                <div class="nav dropdown justify-content-center mx-1">
                  <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user fa-5" aria-hidden="true"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" routerLink="profile">
                      <i class="fa fa-user fa-5" aria-hidden="true" ></i>Profile
                    </a>
                    <a class="dropdown-item" routerLink="">
                      <i class="fa fa-gear fa-5" aria-hidden="true"></i>Paramétre
                    </a>
                    <div class="dropdown-divider border-top"></div>
                    <a class="dropdown-item" routerLink="">
                      <i class="fa fa-sign-out fa-5" aria-hidden="true"></i>Logout
                    </a>
                  </div>
                </div>
              </div>
</nav>
<!---------------------------------- MENU ACCE RAPIDE-------------------------------------->
<!---------------------------------- MENU FONCTIONNALITE----------------------------------->
<div class="nav-side-menu">
        <div class="menu-list">
          <img src="../../assets/img/logo.png" class="logo img-fluid mx-auto d-block mb-3" alt="">
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a routerLink="home">
                  <i class="fa fa-home fa-lg"></i> Home
                  </a>
                </li>
                <hr>
                <div class="title mb-2 px-2 py-2">
                 Gestion de demandes
               </div>
                <li  data-toggle="collapse" data-target="#attestation" class="collapsed ">
                  <a><i class="fa fa-file-text fa-3"></i> Attestation de scolarité <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="attestation">
                    <li> <i class="fa fa-plus fa-3"></i> <a routerLink="attestation/new">Nouvelles demandes</a></li>
                    <li> <i class="fa fa-spinner fa-3"></i> <a routerLink="attestation/now">En cours de traitement</a></li>
                    <li> <i class="fa fa-check fa-3"></i> <a routerLink="attestation/done">Livrées</a></li>
                    <li> <i class="fa fa-ban fa-3"></i> <a routerLink="attestation/ban">Refusées</a></li>
                    <li> <i class="fa fa-list fa-3"></i> <a routerLink="attestation/all">Tous les demandes</a></li>
                </ul>
                <li  data-toggle="collapse" data-target="#diplome" class="collapsed ">
                  <a><i class="fa fa-graduation-cap fa-3"></i> Retrait de diplômes <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="diplome">
                  <li> <i class="fa fa-plus fa-3"></i> <a routerLink="diplome/new">Nouvelles demandes</a></li>
                  <li> <i class="fa fa-spinner fa-3"></i> <a routerLink="diplome/now">En cours de traitement</a></li>
                  <li> <i class="fa fa-check fa-3"></i> <a routerLink="diplome/done">Livrées</a></li>
                  <li> <i class="fa fa-ban fa-3"></i> <a routerLink="diplome/ban">Refusées</a></li>
                  <li> <i class="fa fa-list fa-3"></i> <a routerLink="diplome/all">Tous les demandes</a></li>
                </ul>

                <hr>
                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a routerLink="#"><i class="fa fa-globe fa-lg"></i> Services <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="service">
                  <li>New Service 1</li>
                  <li>New Service 2</li>
                  <li>New Service 3</li>
                </ul>


                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a routerLink="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="new">
                  <li>New New 1</li>
                  <li>New New 2</li>
                  <li>New New 3</li>
                </ul>


                 <li>
                  <a routerLink="#">
                  <i class="fa fa-user fa-lg"></i> Profile
                  </a>
                  </li>

                 <li>
                  <a routerLink="#">
                  <i class="fa fa-users fa-lg"></i> Users
                  </a>
                </li>
            </ul>
     </div>
</div>
<!---------------------------------- MENU FONCTIONNALITE----------------------------------->
